* {
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: Khaki;
  text-align: center;
  background-image: url("../img/pattern.jpeg");
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.item img {
  height: 250px;
}

.price {
  font-weight: bold;
  color: blue;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}

